@import "../utilities/_variables.scss";

.login-state {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

form {
  margin: $margin-default;
}

button {
  margin: $margin-default;
}
