// colours
$color-header: #000000;
$color-secondary: #181818;
$color-third: #2f2f2f;
$color-links: #facd3d;
$color-links-hover: #fdebb1;
$color-text: #e5e5e5;
$color-text-secondary: #999999;
$color-accent: #1894a0;
$color-accent-hover: #1eb9c9;
$color-accent-secondary: #5626c4;

// border
$border: 0.05rem solid $color-third;

// font-size
$font-size-button: 1.3rem;

// margins
$margin-default: 0.5rem;
$margin-list: 1rem;
$margin-head: 3rem;

// padding
$button-padding: 0.7rem 1.5rem;

// dimensions
$fh-height: 10vh;
$header-component: 7vh;
$input-height: 5vh;

$side-width: 8vh;
$avatar-width: 6.5vh;
$pic-width: 40vh;
