@import "utilities/_variables.scss";

body {
  font-size: 1.8rem;
  color: #ffffff;
}

header,
footer {
  li {
    color: $color-links;
  }
}

.main-container {
  display: flex;
  // flex-direction: column;
}
