@import "utilities/_variables.scss";

header {
  height: $fh-height;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 5rem;
  img {
    max-width: 100%;
  }
}

.left {
  display: flex;
  align-items: center;
}

nav {
  display: flex;

  ul {
    display: flex;
    margin-left: $margin-list;

    li {
      margin-right: $margin-head;
    }
  }
}
