@import "utilities/_variables.scss";

header {
  height: $fh-height;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  ul {
    display: flex;
    margin-left: $margin-list;

    li {
      margin-right: $margin-list;
    }
  }
}
