@import "utilities/_variables.scss";

.profile {
  width: $pic-width;

  header {
    background-color: $color-third;
    height: $header-component;
    display: flex;
    justify-content: space-between;
  }
}

.button-collapse {
  background-color: $color-third;
}

.button-collapse:hover,
.button-collapse:focus {
  background-color: $color-secondary;
}

.profile-pic {
  img {
    width: $pic-width;
    height: $pic-width;
    object-fit: cover;
    // object-position: 70% 0%;
  }
}

.profile-actions {
  display: flex;
  justify-content: space-evenly;
  button {
    font-size: $font-size-button;
    padding: $button-padding;
  }
}
