@import "utilities/_variables.scss";

.profile {
  width: $pic-width;

  header {
    height: $header-component;
    display: flex;
    justify-content: space-between;
  }
}

.profile-pic {
  img {
    width: $pic-width;
    height: $pic-width;
    object-fit: cover;
    // object-position: 70% 0%;
  }
}

.profile-actions {
  display: flex;
  justify-content: space-evenly;
  button {
    padding: $button-padding;
  }
}
